:root {
  /**
     * colors
     */

  --st-patricks-blue: hsl(236, 57%, 28%);
  --amaranth-purple: hsl(335, 88%, 38%);
  --royal-blue-dark: hsl(231, 68%, 21%);
  --chrome-yellow: hsl(39, 100%, 52%);
  --space-cadet-1: hsl(230, 41%, 25%);
  --space-cadet-2: hsl(230, 59%, 16%);
  --winter-sky_50: hsla(335, 87%, 53%, 0.5);
  --purple-navy: hsl(236, 26%, 43%);
  --ksu-purple: hsl(275, 54%, 33%);
  --winter-sky: hsl(335, 87%, 53%);
  --razzmatazz: hsl(335, 87%, 51%);
  --platinum: hsl(0, 0%, 90%);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --rajah: hsl(29, 99%, 67%);
  --white: hsl(0, 0%, 100%);

  --gradient-1: linear-gradient(
    90deg,
    hsl(335, 87%, 53%) 0,
    hsl(335, 88%, 38%) 51%,
    hsl(236, 57%, 28%)
  );
  --gradient-2: linear-gradient(90deg, var(--razzmatazz), var(--rajah));

  /**
     * typography
     */

  --ff-source-sans-pro: "Source Sans Pro", sans-serif;
  --ff-poppins: "Poppins", sans-serif;

  --fs-1: 4.2rem;
  --fs-2: 3.8rem;
  --fs-3: 3.2rem;
  --fs-4: 2.5rem;
  --fs-5: 2.4rem;
  --fs-6: 2rem;
  --fs-7: 1.8rem;
  --fs-8: 1.5rem;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
     * border radius
     */

  --radius-4: 4px;
  --radius-12: 12px;

  /**
     * spacing
     */

  --section-padding: 60px;

  /**
     * transition
     */

  --transition-1: 0.15s ease;
  --transition-2: 0.35s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.56, 1.02);

  /**
     * shadow
     */

  --shadow: 0 5px 20px 1px hsla(220, 63%, 33%, 0.1);
}

.hero {
  background-image: url("../imgs/hero-bg-bottom.png"),
    url("../imgs/hero-bg.png"),
    linear-gradient(
      90deg,
      hsl(335, 87%, 53%) 0,
      hsl(335, 88%, 38%) 51%,
      hsl(236, 57%, 28%)
    );
  background-repeat: no-repeat, no-repeat, no-repeat;
  /* background-position: center bottom, bottom, bottom; */
  background-position: -280px bottom, center, center;
  background-size: auto, cover, auto;
  padding-block-start: 120px;
  padding-block-end: var(--section-padding);
  padding-top: 100px;
}
figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 70px;
}

.title-highlight {
  color: hsl(25, 89%, 82%);
}

.hero-subtitle {
  color: hsl(25, 89%, 82%);
  font-size: 1rem;
  font-weight: 800;
  margin-block-end: 15px;
}

.hero-title {
  color: white;
  font-size: 3.2rem;
  font-weight: 800;
  margin-block-end: 30px;
  line-height: 1.3;
}

.hero-text {
  color: white;
  font-size: 1rem;
  font-weight: 600;
  margin-block-end: 30px;
}
.hero-content {
  margin-block-start: 70px;
}

.hero-container {
  padding-inline: 45px;
}

.hero-content .btn {
  background: linear-gradient(45deg, #fb97bd, #fcaa64);
  color: white;
  padding: 12px 35px;
  font-size: var(--fs-8);
  font-weight: var(--fw-500);
  border-radius: 10px;
  transition: var(--transition-2);
  margin-inline-start: 0;
}

:is(.hero-content > .btn):is(:hover, :focus-visible) {
  box-shadow: 0 0 0 2px hsl(335, 87%, 51%), 0 0 0 5px hsl(25, 89%, 82%);
}

.w-100 {
  width: 100%;
  height: auto;
}

.banner-animation {
  animation: waveAnim 2s linear infinite alternate;
}

@keyframes waveAnim {
  0% {
    transform: scale(1.03) translate(0, 0) rotate(0);
  }
  100% {
    transform: scale(1.05) translate(2px, 2px) rotate(1deg);
  }
}

/* Styles for screens with a minimum width of 556px */
@media (max-width: 556px) {
  /* Add your styles specific to this screen size here */

  .hero-content {
    margin-block-start: 0;
  }

  .hero-container {
    max-width: 1020px;
    margin-block-start: 80px;
  }

  .hero {
    min-height: 600px;
    display: grid;
    place-items: center;
  }

  .w-100 {
    width: 120%;
    height: auto;
  }

  .hero-subtitle {
    font-size: 1rem;
    margin-block-end: 15px;
    text-align: center;
  }

  .hero-title {
    font-size: 2.1rem;
    margin-block-end: 20px;
    text-align: center;
  }

  .hero-text {
    font-size: 0.9rem;
    text-align: center;
  }

  .hero-content .btn {
    font-size: 0.6rem;
  }

  figure {
    margin-block-start: 50px;
    margin-inline-start: 0;
  }
}

@media (min-width: 556px) and (max-width: 782px) {
  /* Add your styles specific to this screen size here */

  .hero-content {
    margin-block-start: 20px;
  }

  .hero-container {
    display: flex;
    max-width: 800px;
    margin-block-start: 50px;
  }

  .hero {
    min-height: 600px;
    display: grid;
    place-items: center;
  }

  .w-100 {
    width: 90%;
    height: auto;
  }

  figure {
    margin-inline-end: 0;
  }

  .hero-subtitle {
    font-size: 0.7rem;
    margin-block-end: 15px;
  }

  .hero-title {
    font-size: 1.8rem;
    margin-block-end: 20px;
  }

  .hero-text {
    font-size: 0.7rem;
  }

  .hero-content .btn {
    width: auto;
    padding: 6 5px;
    font-size: 0.7rem;
  }
}

@media (min-width: 783px) {
  /* Add your styles specific to this screen size here */

  .hero-content {
    margin-block-start: 50px;
  }

  .hero-container {
    display: flex;
    max-width: 1020px;
    margin-block-start: 80px;
  }

  .hero {
    min-height: 700px;
    display: grid;
    place-items: center;
  }

  .w-100 {
    width: 120%;
    height: auto;
  }

  .hero-subtitle {
    font-size: 0.8rem;
    margin-block-end: 15px;
  }

  .hero-title {
    font-size: 2.2rem;
    margin-block-end: 20px;
  }

  .hero-text {
    font-size: 0.9rem;
  }

  .hero-content .btn {
    font-size: 1.3rem;
  }
}

@media (min-width: 1200px) {
  /* Add your styles specific to this screen size here */
  .hero {
    min-height: 800px;
  }

  .hero-container {
    max-width: 1200px;
  }

  .w-100 {
    width: 130%;
    height: auto;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-title {
    font-size: 3.2rem;
  }

  .hero-text {
    font-size: 1rem;
  }

  .hero-content .btn {
    font-size: 1.5rem;
  }
}

/* 
.hero-subtitle {
  color: var(--chrome-yellow);
  font-family: var(--ff-source-sans-pro);
  font-size: 1rem;
  margin-block-end: 15px;
}

.hero-title {
  color: var(--white);
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.3;
  margin-block-end: 20px;
}

.hero-text {
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  margin-block-end: 30px;
}

.w-100 {
  height: 100%;
}

.banner-animation {
  animation: waveAnim 2s linear infinite alternate;
}

@keyframes waveAnim {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(2px, 2px) rotate(1deg);
  }
}

@media (min-width: 783px) {
  .hero {
    min-height: 700px;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .hero-title {
    font-size: 3.5rem;
    font-weight: 800;
    margin-block-end: 20px;
  }

  .hero-text {
    font-size: 1rem;
    font-weight: 600;
    margin-block-end: 30px;
  }

  .w-100 {
    width: 450px;
    height: 350px;
  }
}

@media (min-width: 1200px) {
  .hero {
    min-height: 800px;
  }

  .w-100 {
    width: 400px;
    height: 300px;
  }
} */
